:root { 
  --primary-1200: hsl(265, 100%, 18%);
  --primary-1100: hsl(301, 100%, 21%);
  --primary-1000: hsl(277, 100%, 50%);

  --primary-900: hsl(256, 43%, 7%);
  --primary-800: hsl(240, 24%, 13%);
  --primary-700: hsl(243, 26%, 15%);
  --primary-600: hsl(252, 9%, 22%);
  --primary-500: hsl(259, 13%, 28%);
  --primary-400: hsl(254, 22%, 32%);
  --primary-300: hsl(251, 13%, 68%);
  --primary-200: hsl(240, 15%, 76%);
  --primary-100: hsl(240, 21%, 88%);

  --neutral-100: hsl(0, 0%, 100%);

  --text-1: var(--neutral-100);
  --text-2: var(--primary-100);
  --text-3: var(--primary-200);

  --surface-1: var(--primary-1000);
  --surface-2: var(--primary-950);
  --surface-3: var(--primary-900);

  --border-1: var(--primary-300);
  --border-2: var(--primary-500);
  --border-3: var(--primary-800);

  --border-4: var(--primary-1200);
  --border-5: var(--primary-1100);
  --border-6: var(--primary-1000);
}

.background {
  min-height: 101vh;
  color: var(--text-3);
  background-color: var(--primary-900);
  background-image:
    linear-gradient(hsl(from var(--primary-900) h s l / 0.8)),
    url("https://user-images.githubusercontent.com/53535277/97919236-75a9f480-1d25-11eb-8ee1-5a6293ff8998.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.tempBackground {
 background-color: rgb(12, 12, 12);

}

html {
  color-scheme: dark;
  font-family: system-ui;
  font-size: 100%;
}

/* removes the default padding browsers add */
html, body {
  margin: 0;
  padding: 0;
}

/* navbar texts */
.navbar a {
  color: #f8f8f8;
  text-decoration: none;
}

/* navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 10000;
  height: 85px;
}

/* div inside header */
.nav-container {
  max-width: 88rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4.5rem;
  top: 0;
}

/* logo */
.logo {
  display: flex;
}

.logo img {
  height: 2.3rem;
  width: auto;
  max-width: 10rem;
  display: block;
}

.nav-right {
  display: flex;
  gap: 1.25rem;
}

.nav-right a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: inline-flex;
  position: relative;
  top: 0.3em;
}

/* small screens */
@media (max-width: 120rem) {
  .navbar {
    padding: 0 1rem;
  }
  
  .nav-container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4.5rem;
}

  .logo img {
    height: 1.7rem;
    width: auto;
  max-width: 12rem;
  display: block;
  }

  .nav-right a {
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
  }
}
